@model NoteTakingApp.Core.Dtos.CreateCategoryDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create Category";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header text-center text-white" style="background-color:#0c8195; ">
                    <h4 style="color:white;">Create Category</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Create" asp-controller="Category" method="post">
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label"></label>
                            <input asp-for="Name" class="form-control" placeholder="Enter category name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Description" class="form-label"></label>
                            <textarea asp-for="Description" class="form-control" rows="3" placeholder="Enter category description"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-check mb-3">
                            <input asp-for="IsFavorite" class="form-check-input" />
                            <label asp-for="IsFavorite" class="form-check-label">Mark as Favorite</label>
                        </div>
                        <div asp-validation-summary="All"  class="text-danger"></div>

                        <button type="submit" class="btn w-100 text-white" style="background-color:#0c8195; ">Create</button>
                    </form>
                </div>
            </div>
        </div>  
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
