@model UpdateTagDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Update Tag";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header text-center text-white" style="background-color:#0c8195; ">
                    <h4 style="color:white;">Update Tag</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Update" asp-controller="Tag" asp-route-id="@Model.TagId" method="post">
                        <input type="hidden" asp-for="TagId"/>

                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Tag Name</label>
                            <input asp-for="Name" class="form-control" placeholder="Enter Tag name" />
                            <span asp-validation-for="Name" class="text-danger"></span>

                        </div>

                        <div class="mb-3">

                            <label asp-for="Description" class="form-label">Description</label>
                            <textarea asp-for="Description" class="form-control" rows="3" placeholder="Enter Tag description"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>

                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <button type="submit" class="btn w-100 text-white" style="background-color:#0c8195; ">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
