@model CloudPad.Core.Dtos.CreateResourceDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create Resource";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header text-center" style="background-color:#0c8195;">
                    <h4 style="color:white;">Create Resource</h4>
                </div>
                <div class="card-body">
                    <form asp-action="CreateResource" asp-controller="Resource" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label asp-for="DisplayName" class="form-label">Display Name</label>
                            <input asp-for="DisplayName" class="form-control" placeholder="Enter display name">
                            <span asp-validation-for="DisplayName" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Description" class="form-label">Description</label>
                            <textarea asp-for="Description" class="form-control" rows="3" placeholder="Enter description"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="NoteId" class="form-label">Note ID</label>
                            <input asp-for="NoteId" class="form-control" type="text" readonly>
                        </div>

                        <div class="mb-3">
                            <label asp-for="File" class="form-label">Upload File</label>
                            <input asp-for="File" class="form-control" type="file">
                            <span asp-validation-for="File" class="text-danger"></span>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Create</button>
                            <button onclick="history.back()" class="btn btn-secondary">Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
