<footer class="site-footer mt-auto">
    <style>
        .site-footer {
            background-color: #0c8195;
            color: white;
            padding: 20px 0; /* Reduced padding */
        }

            .site-footer h4,
            .site-footer p,
            .site-footer .copyright-text {
                color: white;
            }

    </style>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mx-lg-auto col-md-8 col-10">
                <h1 class="text-white" data-aos="fade-up" data-aos-delay="100">Stay <strong>Organized</strong>.</h1>
            </div>

        </div>
    </div>
</footer>
