<section class="hero hero-bg d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                <div class="hero-text">
                    <h1 class="text-white" data-aos="fade-up">Organize Your Thoughts with Ease</h1>
                    <p class="text-white" data-aos="fade-up" data-aos-delay="100">Create, edit, and manage your notes effortlessly. Add tags, search, and stay organized.</p>
                    <a href="register.html" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="200">Get Started</a>
                </div>
            </div>
            @*<div class="col-lg-6 col-12">
                <div class="hero-image" data-aos="fade-up" data-aos-delay="300">
                    <img src="images/notes-hero.png" class="img-fluid" alt="Note-taking illustration">
                </div>
            </div>*@
        </div>
    </div>
</section>